* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1b1b32;
}

#nav-bar ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #f5f6f7;
}

li {
    list-style-type: none;
}